@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif; 
}
.row{
    margin: 0 auto;
}
#landing{
   
    width: 100%;
    background-color: #1B4B36;
    height: 70vh;
}
nav{
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.list__item{
    list-style-type: none;
    margin: 0px 24px;
    color: #fff;
    font-size: 25px;
   
}
.nav__logo{
    width: 40%;
    margin: 24px;
}
.active{
color: #1B4B36;
background-color: #fff;
padding: 16px 24px;
border: 2px solid #fff;
border-radius: 35px;
}