@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif; 
}
.row{
    margin: 0 auto;
}
#landing{
   
    width: 100%;
    background-color: #1B4B36;
    height: 75vh;
}
nav{
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0px 32px;
    
}
.list__item{
    list-style-type: none;
    margin: 0px 24px;
    color: #fff;
    font-size: 25px;
    transition: all 300ms ease-out;
   
}
.list__item:hover{
    color: #1B4B36;
    background-color: #fff;
    padding: 10px 24px;
    border: 2px solid #fff;
    border-radius: 35px;
    transition: all 500ms ease;
}
.nav__logo{
    width: 50%;
    position: relative;
    top: 20px;
    left: 50px ;

}
.active{
color: #1B4B36;
background-color: #fff;
padding: 16px 24px;
border: 2px solid #fff;
border-radius: 35px;
}
.description{
    margin: 40px;
}
.descrip__title,
.descrip__subtitle{
font-size: 110px;
font-weight: 400;
}
.descrip__title{
    color: #fff;
}
.descrip__subtitle{
    color: #e8edeb;
}

/*

SNG

*/

